@charset "UTF-8";
@font-face {
	font-family: "proifes";
	src: url("proifes.eot");
	src: url("proifes.eot?#iefix") format("embedded-opentype"),  url("proifes.woff") format("woff"),  url("proifes.ttf") format("truetype"),  url("proifes.svg#proifes") format("svg");
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: "proifes" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icone-"]:before, [class*=" icone-"]:before {
	font-family: "proifes" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icone-artigos:before {
	content: "\61";
}
.icone-tv:before {
	content: "\62";
}
.icone-telefone2:before {
	content: "\63";
}
.icone-telefone:before {
	content: "\64";
}
.icone-seta-superior:before {
	content: "\65";
}
.icone-seta-inferior:before {
	content: "\66";
}
.icone-home:before {
	content: "\67";
}
.icone-fotos:before {
	content: "\68";
}
.icone-eventos:before {
	content: "\69";
}
.icone-email:before {
	content: "\6a";
}
.icone-data:before {
	content: "\6b";
}
.icone-busca:before {
	content: "\6c";
}
.proifes-fonte {
	font-family: "proifes";
}